
    <title>Single Book</title>
  </head>
  <body>
    <h4>Book Name: <%= @book.title %></h4>



<h3>Book Authors</h3>

  <% if @book.authors.length >= 1 || @book.authors != nil %>
    <ul>
      <% @book.authors.each do |author| %>
        <li><a href="/authors/<%= author.id %>"> <%= author.title %></a></li>
    </ul>
    <% end %>
  <% else %>
    <p>There are no authors listed for this book yet.</p>
  <% end %>

    <p><a href="/books/<%= @book.id %>/edit">Edit Book</a></p>
    <a href="/books">Return to Book List</a>
